<mat-card class="card-center-class">
  <div class="account-details-container">
    <form #userForm="ngForm" (ngSubmit)="updateUser()">
      <mat-card-header>
        <mat-card-title><h2>Edycja profilu</h2>  {{user.username}} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput placeholder="nowe hasło" [(ngModel)]="user.password"
                   name="password">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="imię" [(ngModel)]="user.name"
                   required name="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="nazwisko" [(ngModel)]="user.surname"
                   required name="surname">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="email" type="email" [(ngModel)]="user.email"
                   required name="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="wiek" type="number" [(ngModel)]="user.age"
                   required name="age">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authservice.isUserAdmin()">
            <mat-label>Typ publikacji</mat-label>
            <mat-select [(value)]="user.status" required >
              <mat-option value="U"> Czytelnik</mat-option>
              <mat-option value="A"> Bibliotekarz</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!userForm.form.valid">Zaktualizuj dane
        </button>
        <a mat-button (mouseup)="goBack()">Anuluj</a>
        <button mat-raised-button *ngIf="authservice.isUserAdmin()" color="warn"
                type="button" (click)="deleteUser(user)">Usuń
        </button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>
