.account-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-center-class{
  max-width: 400px;
  margin: auto;
}

.mat-form-field{
  width:280px !important;
}
