@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:host {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.image {
  min-height: 100%;
  background-size: 60% 60%;
  background-position: center;
  //background-size: cover;
  width: auto;
  background-image: url('../assets/images/background.jpg');
  //background-position:50% 50%;
  background-attachment: fixed;
}

.mat-card-header {
  justify-content: center
}
