<header>
  <mat-toolbar color="primary">

    <button mat-icon-button routerLink="/" aria-label="Strona główna">
      <mat-icon>home</mat-icon>
    </button>

    <span class="title-center">micBOOK <mat-icon>menu_book</mat-icon> </span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button *ngIf="!loginService.isUserLoggedIn()" mat-menu-item routerLink="/login">
        <mat-icon>person</mat-icon>
        <span>Logowanie</span>
      </button>
      <button *ngIf="!loginService.isUserLoggedIn()" mat-menu-item routerLink="/registration">
        <mat-icon>person_add</mat-icon>
        <span>Rejestracja</span>
      </button>
      <button *ngIf="loginService.isUserLoggedIn() && !loginService.isUserAdmin()" mat-menu-item
              routerLink="/myBorrows">
        <mat-icon>face</mat-icon>
        <span>Moje wypożyczenia</span>
      </button>
      <button *ngIf="loginService.isUserLoggedIn()" mat-menu-item routerLink="/myAccount">
        <mat-icon>face</mat-icon>
        <span>Moje konto</span>
      </button>
      <button *ngIf="loginService.isUserLoggedIn() && loginService.isUserAdmin()" mat-menu-item routerLink="/user-list">
        <mat-icon>group</mat-icon>
        <span>Użytkownicy</span>
      </button>
      <button *ngIf="loginService.isUserLoggedIn()" mat-menu-item routerLink="/logout">
        <mat-icon>exit_to_app</mat-icon>
        <span>Wyloguj się</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
